<div class="row article-row">
    <div class="col-8">
        <h4><a href="{{link}}">{{title}}</a></h4>

    </div>
    <div class="col-4">
        <button class="btn btn-green save-article-btn pull-right" data-saved="{{saved}}" data-id="{{_id}}">Save Article</button>
    </div>
</div>
<div class="row summary-row">
    <div class="col-8" id="summary-box">
        <p>{{summary}}</p>
    </div>
</div>